@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 245, 245);
    margin: 2.5rem;
    padding-bottom: 1.25rem;
    border-radius: 0.75rem;
  }
}
